/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/*===== FONTS =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --title-font-size: 1rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --title-font-size: 1.2rem;
    --normal-font-size: 0.938rem;
  }
}

/*===== MARGINS =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 8rem;
}

html{
  scroll-behavior: smooth;

  /*===== COLORS =====*/
  --white-color: #fff;
  --blue-color: #30475e;
  --red-color: #f05454;
  --blue-dark-color: #222831;
  --grey-light-color: #e8e8e8;
}

body{
  margin: 0;
  padding: 0;
  background: var(--grey-light-color);
}

h1{
  color: var(--blue-color);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: var(--big-font-size);
}

.logo{
  text-align: center;
}

.search-box{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  background: var(--blue-dark-color);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-top: var(--mb-1);
}
.search-box:hover > .search-txt, .search-txt:focus{
  width: 240px;
  padding: 0 6px;
}

.search-btn{
  color: var(--red-color);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--blue-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
}
.search-btn:hover{
  background: var(--grey-light-color);
}
.search-btn:focus{
  outline: 0;
}

.search-txt{
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: var(--red-color);
  font-size: var(--normal-font-size);
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}

.show-info-wrapper{
  margin-top: var(--mb-7);
  margin-right: var(--mb-5);
  margin-left: var(--mb-5);
}

.show-container{
  margin-bottom: var(--mb-2);
  background-color: var(--blue-color);
  border-radius: 0.5rem;
  padding: var(--mb-2) var(--mb-4);
  color: var(--white-color);
}

.show-title-h2{
  font-family: var(--body-font);
  font-size: var(--title-font-size);
  color: var(--grey-light-color);
}

.show-description-p{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

